@if (!Visible)
{
    return;
}

<div>
    <div class="d-flex px-2" onclick="@OnToggle">
        <div class="flex-fill d-flex" style="cursor: pointer;">
            @Header
        </div>
        <div class="align-self-center">
            @if (@Collapsed)
            {
                <span>˃</span>
            }
            else
            {
                <span>˅</span>
            }
        </div>
    </div>
    <div class="@(@Collapsed ? "d-none" : "d-block")">
        @Body
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment Header { get; set; } = null!;

    [Parameter]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public bool Collapsed { get; set; } = true;

    private void OnToggle()
    {
        Collapsed = !Collapsed;
    }
}