@page "/"

<PageTitle>Catalog</PageTitle>

<div class="d-flex flex-row">
    <div class="flex-fill d-flex flex-column mx-3">
        <Catalog OnBookSelected="SelectBook"/>
    </div>

    <div style="width:400px;min-height:350px;">
        <Cart SelectedBooks="@_selectedBooks" OnBookRemoved="@RemoveBook"/>
    </div>
</div>


@code {
    private readonly List<BookModel> _selectedBooks = new();

    private void SelectBook(BookModel book)
    {
        _selectedBooks.Add(book);
    }

    private void RemoveBook(string isbn)
    {
        var book = _selectedBooks.First(book => book.ISBN == isbn);
        _selectedBooks.Remove(book);
    }

}