@page "/"
@using BookShop.shared

@inject PriceHttpClient PriceHttpClient

<PageTitle>Catalog</PageTitle>

<div class="d-flex flex-row">
    <div class="flex-fill d-flex flex-column mx-3">
        <CatalogItems OnBookSelected="SelectBook" CanSelectBook="CanSelectBook"/>
    </div>

    <div style="width:400px;min-height:350px;">
        <div style="position: sticky; top: 73px; z-index: 10;">
            <Cart Items="@CartItems" OnItemRemoved="@RemoveBook" Price="@_price"/>

            <div class="align-self-baseline text-center mt-3">
                @if (CanCheckout)
                {
                    <a class="btn btn-lg btn-warning"
                       href="@BuildCheckoutUri()">
                        Checkout >
                    </a>
                }
                else
                {
                    <button class="btn btn-lg btn-warning" disabled="disabled">
                        Checkout >
                    </button>
                }
            </div>

        </div>
    </div>
</div>


@code {
    private readonly List<BookResponse> _selectedBooks = new();

    private Cart.Item[] CartItems => _selectedBooks.GroupBy(book => (book.ISBN, book.Title)).Select(group => new Cart.Item(group.Key.ISBN, group.Key.Title, group.Count())).ToArray();
    private bool CanCheckout => CartItems.Length > 0;

    private PriceResponse? _price;
    
    private async Task RefreshPrice()
    {
        if (_selectedBooks.Any())
        {
            var isbns = _selectedBooks.Select(book => book.ISBN).ToArray();
            _price = await PriceHttpClient.GetCartPrice(isbns);
        }
        else
        {
            _price = null;
        }
    }


    private async Task SelectBook(BookResponse book)
    {
        _selectedBooks.Add(book);
        await RefreshPrice();
    }

    private bool CanSelectBook(BookResponse book)
    {
        return _selectedBooks.Count(b => b.ISBN == book.ISBN) < book.Quantity;
    }

    private async Task RemoveBook(string isbn)
    {
        var book = _selectedBooks.First(book => book.ISBN == isbn);
        _selectedBooks.Remove(book);
        await RefreshPrice();
    }

    private string BuildCheckoutUri()
    {
        var books = CartItems.SelectMany(item => Enumerable.Repeat(item.Id, item.Quantity)).ToArray();
        return new Urls.Checkout(books).ToString();
    }

}