@using BookShop.web.Data

@{
    var (priceIntegerPart, priceFractionalPart) = Price.Amount.SplitParts(); 
}
<div class="@Class">
    <span class="fs-2">@priceIntegerPart</span><span class="fs-6">.@priceFractionalPart.ToString("00")</span>&nbsp;<span class="text-uppercase">@Price.Currency</span>
</div>


@code {

    [Parameter]
    public Price Price { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }
}