@page "/receipt"
@using BookShop.shared

@inject NavigationManager NavigationManager
@inject ReceiptHttpClient ReceiptHttpClient

<PageTitle>Receipt</PageTitle>

<h1>Thank you for your purchase !</h1>
@if (ReceiptResponse != null)
{
    <div class="card" style="width: 48em">
        <h5 class="card-header">Order #@Url!.ReceiptId</h5>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var book in ReceiptResponse.Books)
                {
                    <li class="list-group-item">
                        @{
                            // TODO : align number of books to the right
                        }
                        @book.Title ×@book.Quantity
                    </li>
                }
            </ul>
        </div>
        <p class="card-footer" style="text-align: right; font-weight: bold">@ReceiptResponse.PaidPrice.Amount.ToString("F2") @ReceiptResponse.PaidPrice.Currency</p>
    </div>
}

@code {
    private Urls.Receipt? Url { get; set; }

    private ReceiptResponse? ReceiptResponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Url = Urls.Receipt.Parse(NavigationManager.ToAbsoluteUri(NavigationManager.Uri));
        if (Url is null)
        {
            return;
        }

        ReceiptResponse = await ReceiptHttpClient.GetReceipt(Url.ReceiptId);
    }
}