@if (!Visible)
{
    return;
}

<div class="@Class">
    <div class="d-flex px-2 bg-light" onclick="@OnToggle" style="cursor: pointer;">
        <div class="p-2 flex-fill d-flex">
            @Header
        </div>
        <div class="p-2 align-self-center">
            @if (Collapsed)
            {
                <span>˃</span>
            }
            else
            {
                <span>˅</span>
            }
        </div>
    </div>
    <div class="border border-light @(Collapsed ? "d-none" : "d-block")">
        @Body
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment Header { get; set; } = null!;

    [Parameter]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public bool Collapsed { get; set; } = true;

    [Parameter]
    public string? Class { get; set; }

    private void OnToggle()
    {
        Collapsed = !Collapsed;
    }
}