<div class="w-100 text-secondary text-center">
    <div class="spinner-grow spinner-grow-sm" role="status"></div>
    <div class="spinner-grow spinner-grow-sm" role="status"></div>
    <div class="spinner-grow spinner-grow-sm" role="status"></div>
    <span class="sr-only">Loading...</span>
</div>