@using BookShop.shared
@{
    var (priceIntegerPart, priceFractionalPart) = Value.Amount.SplitParts();
}
<div class="@Class">
    <span class="fs-2">@priceIntegerPart</span><span class="fs-6">.@priceFractionalPart.ToString("00")</span>&nbsp;<span class="text-uppercase">@Value.Currency</span>
</div>


@code {

    [Parameter]
    public BookShop.shared.Price Value { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }

}